<html>
        <head>
            <title>Anna's blog</title>
        </head>
        <body>
        <h1>How to kill your saturday</h1>
            <p>There are many ways to kill weekends but i've chosen the most sophisticated one.</p>
            <h2>Step 1</h2>
            <p>Wake up as early as you do during the work-week.</p>
            <h2>Step 2</h2>
            <p>Try to get some work to do. You should better choose some tusks with deadline on Monday. Failed to do that? Not a problem, just find a <a href="https://djangogirls.org">free tutorial</a> or conference <strong>useful for your profession</strong>.</p>
            <h2>Step 3</h2>
            <p>Run skype, outlook and social networks on your computer from the early morning.</p>

